#interesting{
	display: flex;
	justify-content: space-between;
}

.content{
	padding:1%;
	border-radius: 10px;
	background: black;
}

.content > a{
	color: black;
}

.content > a:hover{
	color: white;
}