#form_holder{
    background-color: #424242;
    display: block;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 0 auto;
}

#form {
    display: block;
    padding: 60px 80px;
}

input[type=text], input[type=email], button, textarea {
    width: 100%;
    border-radius: 10px;
}

textarea {
    resize: vertical;
}

button {
    background-color: #94692d;
    padding: 10px;
}

button:hover{
    background-color: #FF4136;
}
