.table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #94692d;
}

.table  tr{
    text-align: left;
    padding: 30px;
    border: 1px solid #94692d;
}

.table td, .table th {
    padding: 10px;
}

.table thead{
    background-color:#151515;
}

.table > tbody > tr:hover{
    background-color: #292929;
}